@import "costum.css";
body {
    font-family: Arial;
    /*color: #999;*/
    font-size: 16px;
    text-decoration: none;
    /*background-color: ;*/
    background-color: #BCBCBC;
}

/*
*
* 
*/
.homepage .main-contents-body{position:relative}
/*
*
*
*/

.input-group-addon, .input-group-lg{
	border-radius: 0;
	background: #F6F6F6;
	color: blue;
}
a:link{
	text-decoration: none;
}
a:hover{
	color: #00c9ea;
}
input:focus{
	color: #999;
}
/*label{
	color: #00c9ea;
}*/
.input-group-lg > .input-group-addon{
	border-radius: 0;
	background-color: #00c9ea;
	color: white;
}
.form-control-login::-moz-placeholder{
	background-color:#E6E6E6;
	color: #078FC9;
	opacity:1
}

::-webkit-input-placeholder { /* Chrome */
    color: #078FC9;
    background-color:#E6E6E6;
    opacity:1
}
:-ms-input-placeholder { /* IE 10+ */
    color: #E6E6E6;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #E6E6E6;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #E6E6E6;
    opacity: 1;
}

.form-control{
	border: 0;
	border-radius: 0; 
}
.btn-blue,.btn-blue:hover,.btn-blue:focus{
	color: white;
	background-color: #00c9ea;
	border-radius: 0;
	border-color: none; 
}
.btn-blue > button:hover{
	background-color: #00c9ea;
}

/*Formulaire de connexion*/
@media(min-width: 798px){
	.login-size{
		margin: 10% 26%;
	}
}
@media(max-width: 798px){
	.login-size{
		margin: 10% 5%;
	}
}
.login-header{
	background-color: #03A9F4;
	color: #fff;
}
.login-body{
	padding: 40px;
	margin-top:15px;
	background-color: #fff;
}
.login-header-txt{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 30px;
	text-align: center;
}
.dashboard-label{
	font-size: 24px;
}
.login-icon{
	font-size: 30px;
	padding: 2px 15px;
}
.col-md-2{
	/*width: 12.5%;*/
	min-width: 168.33333px;
	width: 168.33333px;
	padding-right: 5px;
	padding-left: 5px;
}

/*css dashboard*/
.cadre-app {
    border-radius: 3px;
    display: inline-block;
    height: 175px;
    position: relative;
    width: 100%;
    background-color: white;
}
.cadre{
	border-radius: 3px;
	height: 100%;
	box-shadow: #078FC9;
}
.cadre-image{
    background-color: #D7D7DB;
    border-radius: 3px 3px 0 0;
    height: 108px;
    overflow: hidden;
    position: relative;
}
.cadre-details{
	padding: 5px;
}
.auteur-name{
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
    margin: 0 0 2px;
    white-space: nowrap;
    overflow: hidden;;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.app-name{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    height: 50%;
    padding-bottom: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cadre-title{
	font-size: 12px;
    line-height: 13px;
    max-height: 17px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-aria{
	width: 50%;
}
.header-menu{
	background-color: white;
	color: #424242;
	height: 40px;
	width: 100%;
	padding-bottom: 40px;
}
.nav-item{
	color: white;
}

/* General */
.white-blue{
	background-color: #03A9F4;
	color: #fff;
}
.blue-white{
	background-color: #fff;
	color: #03A9F4;
}
div.site-nav-vertical > a:hover{
	background-color: #03A9F4;
}