{{template "header.html" .}}
  <header class="site-header">
    <nav class="navbar justify-content-between py-0">
      <div class="navbar-brand">
        <i id="sidebar-toggle-button" class="fa fa-bars" aria-hidden="true" style="display: none;"></i>
        <img src="" style="vertical-align: middle;" height="40" width="40" altn="Apk-uploader logo">&nbsp;
        <span class="site-title d-sm-none" href="/">Apk-uploader</span>
      </div>
      <div class="search-aria">
        <form >
          <div class="col-md-12">
            <input class="form-control" type="text" placeholder="Chercher une application">
          </div>
        </form>
      </div>
      <div class="site-nav-horizontal">
        <a class="nav-item" href="{{url "Application.Index"}}" >Accueil<span class="sr-only">(current)</span></a>
        <a class="nav-item" href="#">Categorie</a>
        <a class="nav-item" href="#">A propos</a>
        {{if .user}}
          <a href="{{url "Application.Logout"}}" class="btn btn-light">Deconnexion</a>
        {{else}}
        <a href="{{url "Application.Register"}}" class="btn btn-light">Inscription</a>
        <a href="{{url "Application.Login"}}" class="btn btn-light">Connexion</a>
        {{end}}
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="row">
    <div class="span6">
        {{template "flash.html" .}}
    </div>
    </div>
</div>

  <div class="contents">
          <div class="lavish-row">
            <div id="side-nav-container" class="col-md-3">
            </div>
            <div class="col-md-12 main-contents">
              <div class="main-contents-body">