{{set . "title" "Mes details"}}
{{template "Templates/header-menu.html" .}}

    <!-- <div class="login-header">
      <div class="row">
        <div class="col-lg-12">
          <div class="login-header-txt" >
           Bienvenue {{.user.NomUtilisateur}} {{.user.PrenomUtilisateur}}
          </div>
        </div>
      </div>
    </div>  -->
    <div class="alert alert-info">
      Récapitulatif de vos détails
    </div>
    <div class="alert" style="background-color: white;">
      <table class="table">
        <tbody>
          <tr>
            <td><div >Nom complet</div></td>
            <td>{{.user.NomUtilisateur}} {{.user.PrenomUtilisateur}}</td>
          </tr>
          <tr>
            <td><div >E-mail</div></td>
            <td>{{.user.EmailUtilisateur}}</td>
          </tr>
          <tr>
            <td><div >Type de compte</div></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="float-right">
      <a class="btn btn-primary" href="#">Modifier</a>
    </div>
  </div>
    


{{template "Templates/footer-menu.html" .}}
