{{set . "title" "Login"}}
{{template "header.html" .}}

<div class="container-fluid">
  <header>
    
  </header>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div style="padding-bottom: 15px;">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-left">
                <span class="dashboard-label">Les nouveauté</span>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg" height="108" width="185">
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185">
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 15px;">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-left">
                <span class="dashboard-label">Les applications les plus téléchargés</span>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <!-- <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div  class="popover-body" id="loginPopover">
  <div class="shadow-lg p-3 mb-5 bg-white rounded" style="margin: 10% 35%;">
      <div class="login-header">
        <div class="row">
          <div class="col-lg-12">
            <div class="login-header-txt" >
            Login
            </div>
          </div>
        </div>
      </div>
      <div class="login-body" >
        <div class="row">
          <div class="col-lg-12">
            <form action="/App/Hello" method="GET">
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                  <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>
              </div> 
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <input type="password" name="password" class="form-control" placeholder="Mot de passe" required>
                </div>
              </div> 
              <div class="form-group">
                <button type="submit"  class="btn btn-primary btn-lg btn-block" >Login</button>
              </div> 
            </form>
          </div>
        </div>
      </div>
  </div>
</div> -->


{{template "footer.html" .}}
