{{set . "title" "Accueil"}}
{{template "Templates/header-menu.html" .}}

          <div class="post-content">
            <div class="row">
                <div class="col-lg-12">
                  <div class="float-left">
                    <span class="dashboard-label">Les nouveauté</span>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center " >
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg" height="108" width="185">
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half"></i>
                        </div>
                        <div >
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185">
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                          <i class="glyphicon glyphicon-star"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{template "Templates/footer-menu.html"}}
<!--   <div class="contents">
      <div class="lavish-row">
        <div id="side-nav-container" class="col-md-3">
        </div>
        <div class="col-md-12 main-contents">
          <div class="main-contents-body">
          <div class="post-content">
            <div class="row">
                <div class="col-lg-12">
                  <div class="float-left">
                    <span class="dashboard-label">Les nouveauté</span>
                  </div>
                  <div class="float-right">
                    <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center " >
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg" height="108" width="185">
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half"></i>
                        </div>
                        <div >
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185">
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/barriere.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="cadre-app">
                    <a href="#">
                      <div class="cadre-image">
                        <img src="/public/img/lead.jpg"  height="108" width="185" >
                      </div>
                      <div class="cadre-details">
                        <div class="app-name">
                          <span>Dictionnaire mooré du burkina</span>
                        </div>
                        <div class="auteur-name">
                          <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
 
<!--   <div class="row">
    <div class="col-lg-12">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
        <div style="padding-bottom: 15px;">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-left">
                <span class="dashboard-label">Les nouveauté</span>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg" height="108" width="185">
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185">
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div style="padding-bottom: 15px;">
          <div class="row">
            <div class="col-lg-12">
              <div class="pull-left">
                <span class="dashboard-label">Les applications les plus téléchargés</span>
              </div>
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" href="#">Voir plus</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/barriere.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="cadre-app">
                <a href="#">
                  <div class="cadre-image">
                    <img src="/public/img/lead.jpg"  height="108" width="185" >
                  </div>
                  <div class="cadre-details">
                    <div class="app-name">
                      <span>Dictionnaire mooré du burkina</span>
                    </div>
                    <div class="auteur-name">
                      <h4 class="card-title" dir="auto"><strong>Mahamoudou Tapsoba</strong></h4>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->




{{template "footer.html" .}}
